{% include "base.html" %}
{% load staticfiles %}
{% load i18n %}
<head xmlns="http://www.w3.org/1999/html">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $( function() {
        $( ".datepicker" ).datepicker();
      } );
  </script>
</head>
<body>
    {% include "body.html" %}

    <form method="POST" action=""  align="center">
        {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="id_{{ field.name }}">{{ field.label }}</label>{{ field }}
                    </div>
                {% endfor %}
        <button type="submit" class="btn" >{% trans 'Submit' %}</button>
    </form>
</body>

