{% load i18n %}
{% load staticfiles %}
<head xmlns="http://www.w3.org/1999/html">
	<title>Organisation</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">

	<link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">

	<link href="{% static 'common-css/layerslider.css' %}" rel="stylesheet">


	<link href="{% static '01-homepage/css/styles.css' %}" rel="stylesheet">

	<link href="{% static '01-homepage/css/responsive.css' %}" rel="stylesheet">

</head>
<body>

	<header>

		<div class="middle-menu center-text"><a href="#" class="logo"><img src="{% static 'images/imgo.jpg' %}" alt="Logo Image"></a></div>

		<div class="bottom-area">

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li class="drop-down"><a href="/people/login_success">{% trans 'Home' %}</a></li>
				<li><a href="/people/new_application"> {% trans 'New Application' %}</a></li>
				<li><a href="/people/user_search">{% trans 'User Search' %}</a></li>
				<li><a href="/people/bill_search">{% trans 'Bill Pay' %}</a></li>
				<li><a href="/people/get_statements">{% trans 'Organisation Account' %}</a></li>
				<li><a href="/people/logout">{% trans 'Logout' %}</a></li>
				<li>
					<form action="{% url 'set_language' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="text" value="{{redirect_to}}">
						<select name="language" id="" onchange="this.form.submit();">
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
								<option> chose language</option>
							{% for language in languages %}
								<option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
									{{language.name_local}} ({{language.code}})
								</option>
							{% endfor %}
					</select>
					</form>
				</li>
			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>

	<script src="{% static 'common-js/jquery-3.1.1.min.js' %}"></script>

	<script src="{% static 'common-js/tether.min.js' %}"></script>

	<script src="{% static 'common-js/bootstrap.js' %}"></script>

	<script src="{% static 'common-js/layerslider.js' %}"></script>

	<script src="{% static 'common-js/scripts.js' %}"></script>

</body>

<!--<style>-->
	<!--header .logo img {-->
    <!--height: 138%;-->
    <!--width: 100%;-->
    <!--padding: 8px 8px;-->
<!--}-->
</style>