{% load i18n %}
{% include "base.html" %}

<style>
    table, td {
        border: 2px solid black;
        border-collapse: collapse;
    }
    input[type='readonly'] {
        border: none;
        outline: none;
    }
    input[type=text] {
        display:none;
    }
    @media print {
      body * {
        visibility: hidden;
      }
      #section-to-print, #section-to-print * {
        visibility: visible;
      }
      #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
</style>
<script>
    function myFun() {
        window.print()
    }
    var calculateTotal = function(){
        var values = $('.editable, .summate').map(function(i, el) { return el.value}).get();
        console.log("calculating total", values)
        var total = values.reduce(function(c, a){
            if(a){
                return c + parseFloat(a);
            } else {
                return c;
            }
        }, 0.0);
        $("#total_amount").val(total);
    }

    $(document).ready(function() {
        $('#edit_btn').click(function() {
            $('.editable').removeAttr("readonly");
        });
        $("input").change(function(){
            calculateTotal();
            $('.editable').attr('readonly', true);
        });

        setTimeout(function(){
            calculateTotal();
        }, 100);

        var validateUsername = function(e) {
        var a = [];
        var k = e.which;

        for (var i = 48; i < 58; i++)
            a.push(i);

        if (!(a.indexOf(k)>=0))
            e.preventDefault();
        };

        $('#id_share_amount').on('keypress', validateUsername);
        $('#id_full_paid').on('keypress', validateUsername);
        $('#id_penality').on('keypress', validateUsername);
    });

</script>
<div style="position:relative;top:300px;left:550px;">
<form method="POST" id="edit_form">
<div id="section-to-print">
    <span>{% trans 'App-Id' %}: {{name.id}}</span><br>
    <span>{% trans 'Full-Name' %} : {% blocktrans with name=name %} {{name}} {% endblocktrans %}</span>
    <p>{% trans 'Date' %}: {{date}}</p>
<br>
<table >
    <tr>
        <td>{% trans 'Share Amount' %} </td>
        <td>
            <input class="editable" name="share_amount" value="{{share_amount}}" id="id_share_amount" readonly>
        </td>
    </tr>
    <tr>
        <td>{% trans 'Loan Amount' %}
            <input value="({{loan_amount}})" readonly>
                {% trans 'total_emi_no' %}  ({{total_emi_no}})
        </td>
        <td></td>
    </tr>
    <tr>
        <td>{% trans 'emi amount' %}</td>
        <td>
            <input class="summate" value="{{emi_amount}}" readonly>
        </td>
    </tr>
    <tr>
        <td>{% trans 'paid loan amount' %} ({{paid_loan_amount}} )</td>
        <td></td>
    </tr>
    <tr>
        <td>{% trans 'Emi.No' %}    ({{emi_no}})</td>
        <td></td>
    </tr>
    <tr>
        <td>{% trans 'Intrest Amount' %}</td>
        <td>
            <input class="summate" value="{{intrest}}" readonly>
        </td>
    </tr>
    <tr>
        <td>{% trans 'Special Loan Amount' %}  ({{special_loan_amount}})</td>
        <td>
            <input class="summate" name="special_loan_amount" value="{{special_loan_amount}}" readonly>
        </td>
    </tr>
    <tr>
        <td>{% trans 'Special Intrest Amount' %} </td>
        <td>
            <input class="summate" name="special_intrest" value="{{special_intrest}}" readonly>
        </td>
    </tr>
    <tr>
        <td>{% trans 'Penality' %} </td>
        <td>
            <input class="editable" name="penality" id="id_penality" readonly>
        </td>
    </tr>
    <tr>
        <td>{% trans 'remaining debt' %}   ({{remaining_debt}})</td>
        <td>
            <!--<input type="readonly" value="{{remaining_debt}}">-->
            <!--<input value="{{remaining_debt}}">-->
        </td>
    </tr>
    <tr>
        <td>{% trans 'Full Paid' %}</td>
        <td>
            <input class="editable" name="full_paid" id="id_full_paid" readonly>
        </td>
    </tr>
    <tr>
        <td>{% trans 'Total' %}</td>
        <td>
            <input id="total_amount" name="total_amount" readonly>
        </td>
    </tr>
</table>
    </div>
<br>
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" id="print_btn" value="{% trans 'Print' %}" onClick="window.print()">
</form>
<input type="button" class="btn btn-primary" id="edit_btn" value="{% trans 'Edit Bill' %}">

</div>
