{% load i18n %}
{% include "base.html" %}

<form method="POST"  action="" align="center" class="fixed-bottom">
    {% csrf_token %}
        <fieldset>
            {% for field in form %}
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="id_{{ field.name }}">{{ field.label }}</label>{{ field }}
                </div>
            {% endfor %}
        </fieldset>
    <button type="submit" class="btn" >{% trans 'User Search' %}</button>
</form>

